{% extends "layout.html" %}

{% block body %}
<section class="flex flex-col items-center">
    
  <h1 class="text-center text-slate-800 text-4xl md:text-5xl/16 font-semibold max-w-3xl leading-tight bg-clip-text my-8 px-4">
    Reliable <span class="bg-gradient-to-r from-slate-600 to-slate-400 bg-clip-text text-transparent"> inventory management </span> to boost your productivity.
  </h1>
  <p class="text-center text-base text-gray-600 max-w-md px-6">
    Know what you have. When you need it.
  </p>
  
  <div class="flex items-center gap-4 mt-5 justify-center z-1">
    {% if logged_in %}
    <a href="{{ url_for('user') }}" class="bg-slate-600 hover:bg-slate-700 text-white px-6 py-3 rounded-md cursor-pointer">Launch Dashboard</a>
    {% endif %}

    {% if not logged_in %}
    <a href="{{ url_for('signup') }}" class="bg-slate-600 hover:bg-slate-700 text-white px-6 py-3 rounded-md transition">Get Started</a>
    <a href="{{ url_for('login') }}" class="text-slate-600 hover:text-slate-800 transition">Login</a>
    {% endif %}
  </div>

  <div class="relative mt-12 w-full max-w-4xl px-4">
    <div class="pointer-events-none absolute -top-20 left-1/2 -translate-x-1/2 w-full h-full bg-[#1e293b] blur-[75px] opacity-20 z-0"></div>
    <img class="relative z-1 w-full object-cover object-top rounded-lg" src="/static/image.png" alt="dashboard">
  </div>

{% endblock %}

